:root {
    --card-width: 300px;
    --card-gap: 75px;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.carousel-window {
    width: calc(3 * var(--card-width) + 2 * var(--card-gap));
    overflow: hidden;
    padding: 20px 20px;
    margin: -20px 0;
}

.carousel-track {
    display: flex;
    gap: var(--card-gap);
}


.carousel-card {
    flex: 0 0 var(--card-width);
    background: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--black-shadow);
    overflow: hidden;
    position: relative;
    transition: all ease 0.4s;
}

.carousel-card:hover {
    transform: scale(1.02);
}

.carousel-img {
    width: 100%;
    height: 300px;
    display: block;
    position: relative;
    z-index: 1;
}

.carousel-info {
    padding: 10px 16px 16px 16px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--white-tint);
}

.carousel-info h3 {
    font-size: 24px;
    font-family: var(--montserrat);
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 8px;
    color: var(--pink-dark);
}

.carousel-info p {
    font-size: 16px;
    font-family: var(--quicksand);
    font-weight: 600;
    color: var(--black-half)
}

.carousel-btn {
    display: flex;
    transform-origin: center center;
    background: none;
    border: none;
    padding: 10px;
    border-radius: 50%;
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
    color: var(--white);
    transition: all ease 0.4s;
}

.carousel-btn svg {
    display: block;
    stroke: var(--white);
    stroke-width: 1;
    
}

.carousel-btn:hover {
    transform: scale(1.15);
    background-color: var(--black-shadow);
}