.footer {
    width: 100%;
    min-height: 480px;
    display: flex;
    flex-direction: row;
    background-color: var(--green-light);
    box-shadow: 0px -1px 10px var(--black-shadow);
}

.footer-left, .footer-right {
    box-sizing: border-box;
    padding-top: 30px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-left {
    padding-left: 150px;
    padding-right: 35px;
}

.footer-left h1, .footer-right h1 {
    font-family: var(--cherry-bomb-one);
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 10px;
    color: var(--white);
    text-shadow: 3px 3px var(--black-shadow);
}

.footer-left .input {
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-family: var(--quicksand);
    font-weight: 600;
    font-size: 18px;
    color: var(--black);
    background-color: var(--white);
    box-shadow: 0 2px 8px var(--black-shadow);
}

.footer-left .input:focus {
    outline: transparent;
}

.footer-left .input::placeholder {
    color: var(--pink-dark);
    opacity: 0.8;
}

.footer-left textarea {
    resize: none;
    height: 150px;
    overflow: auto;
}

.footer-left .submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.footer-left .submit .submit-btn {
    width: 100px;
    text-align: center;
    font-family: var(--montserrat);
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-top: 5px;

    color: var(--green-dark);
    background-color: var(--white);
    border: none;
    box-shadow: 0 4px 10px var(--black-shadow);

    padding: 10px 20px;
    border-radius: 40px;
    transition: all ease 0.5s
}

.footer-left .submit .submit-btn:hover {
    color: var(--white);
    background-color: var(--black);
    transform: scale(1.05);
}

.footer-left .submit p {
    font-family: var(--montserrat);
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}


.footer-right {
    padding: 30px 35px 25px 35px;
    margin-right: 100px;
    justify-content: flex-start;
}

.footer-right h1 {
    text-align: center;
    margin-bottom: 14px;
}

.footer-right .cards-row {
    display: flex;
    gap: 30px;
    width: 100%;
}

.footer-right .mini-card {
    flex: 1;
    background-color: var(--green-dark);
    border-radius: 16px;
    padding: 14px 18px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    box-shadow: 0 2px 8px var(--black-shadow);
}

.footer-right .mini-card .card-title {
    font-family: var(--montserrat);
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--pink-light);
    text-shadow: 1px 1px 2px var(--black-shadow);
    margin-bottom: -4px;
}

.footer-right .link {
    width: fit-content;
    font-family: var(--montserrat);
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
    transition: all ease 0.5s;
}


.footer-right .link:hover {
    transform: scale(1.1);
}
.footer-right .link:last-child {
    margin-bottom: 20px;
}

.footer-right .logo {
    width: 75px;
    border-radius: 50%;
    box-shadow: 8px 8px var(--white);
    outline: 5px solid var(--green-dark);
}

/* Tablet */
@media (max-width: 1023px) {
    .footer {
        flex-direction: column;
    }

    .footer-left {
        padding: 30px 40px 0;
    }

    .footer-right {
        padding: 30px 40px;
        margin-right: 0;
    }
}

/* Mobile */
@media (max-width: 480px) {

    .footer-left, .footer-right {
        padding: 24px 40px 0;
    }

    .footer-left h1, .footer-right h1 {
        font-size: 34px;
    }

    .footer-right {
        padding: 24px 30px;
        margin-right: 0;
    }
    
    .footer-right .cards-row {
        gap: 15px;
    }

    .footer-right .mini-card {
        gap: 16px;
    }
}