.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Hero Styling */
.hero {
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-bottom: 75px;
}


.hero .leftSide, .hero .rightSide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
    padding-top: 15px;
}

/* Hero Styling - Left Side */
.hero .leftSide {
    width: 44%;
    margin-top: 100px;
}


.hero .leftSide h1, .hero .leftSide h2, .hero .leftSide p{
    text-align: right;
    margin-left: 340px;
}


.hero .leftSide h1{
    font-size: 58px;
    font-family: var(--montserrat);
    color: var(--black);
    
    animation: fadeInScale 1s ease forwards;
    opacity: 0;
}


.hero .leftSide h2 {
    font-size: 28px;
    font-weight: 100;
    font-family: var(--cherry-bomb-one);
    letter-spacing: 2px;
    margin-top: -10px;
    color: var(--pink-dark);

    animation: fadeInScale 1s ease 0.01s forwards;
    opacity: 0;
}


.hero .leftSide p {
    font-size: 20px;
    font-family: var(--quicksand);
    font-weight: 500;
    color: var(--green-dark);
    line-height: 27px;
    margin-top: 25px;
    padding-left: 25px;

    animation: fadeInScale 1s ease 0.15s forwards;
    opacity: 0;
}

/* Hero Styling - Right Side */
.hero .rightSide {
    width: 56%;
}

.hero .rightSide img {
    position: absolute;
    z-index: 2;
    height: 500px;
    width:fit-content;
    border-radius: 225px 225px 0 0;
    outline: 10px solid var(--white);
    box-shadow: 30px 30px var(--pink-light);
    object-position: center;

    animation: fadeInScale 1s ease 0.15s forwards;
    opacity: 0;
}

/* Project Carousel Styling */
.project-carousel-container {
    width: 100%;
    height: 100%;
}

/* Keyframes */
@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

